src/btreetest/applications/avp_path_find/* linguist-vendored
sublevel*.h linguist-vendored=false
airduct*.h linguist-vendored=false
alienvessel.h linguist-vendored=false
predatorship.h linguist-vendored=false

